<div class="container-fluid p-5 navbar-light bg-light">
    <div class="container">
        <nav class="nav justify-content-center">
            <a class="nav-link text-dark" href="https://github.com/aeosmanoglu" target="blank"
                aria-label="Abuzer's Github profile">
                <i class="bi bi-github"></i>
            </a>
            <a class="nav-link text-dark" href="https://twitter.com/abuzeremreo" target="blank"
                aria-label="Abuzer's Github profile">
                <i class="bi bi-twitter"></i>
            </a>
        </nav>
    </div>
</div>