<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        {% for image in include.images %}
        <div class="col">
            <figure class="figure">
                <a href="{{ image.path.default }}">
                    <picture>
                        <source type="image/webp" srcset="{{ image.path.webp }}">
                        <img class="img-fluid img-thumbnail figure-img" src="{{ image.path.default }}"
                            alt="{{ image.title }}">
                    </picture>
                </a>
                <figcaption class="figure-caption text-center">{{ image.title }}</figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>