@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

$enable-rounded: false;
$card-height: 100%;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 9
);

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
:root{
  --bs-font-monospace: 'JetBrains Mono', monospace;
  --bs-body-font-family: var(--bs-font-monospace);
}

pre{
  padding: $spacer;
  line-height: 1.45;
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-600);
}

img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: 1s;
}

img:hover {
  -webkit-filter: none; 
  filter: none;
}

img.logo {
  height: $spacer * 2;
}

.card-img-overlay {
  top:revert;
  right:auto;
  left:auto;
}

.avatar{
  -webkit-filter: none !important;
  filter: none !important;
  width: 100%;
  border: $spacer * .5 solid;
}

.text-gray {
  color: var(--bs-gray-300)
}

.article {
  max-inline-size: 66ch;
}
